APP_HOST=0.0.0.0
PORT=3000

DB_HOST=sqlserver
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=YourStrong!Passw0rd
DB_NAME=fleet_management
DB_ENCRYPT=false
DB_TRUST_CERT=true
DB_LOGGING=false

JWT_SECRET=supersecret_jwt_key_change_me
JWT_EXPIRES_IN=1d

REDIS_HOST=redis
REDIS_PORT=6379
CACHE_TTL=60

SEED_ADMIN_USERNAME=aivacol
SEED_ADMIN_EMAIL=aivacol@local.test
SEED_ADMIN_PASSWORD=Aivacol@123

MSSQL_SA_PASSWORD=YourStrong!Passw0rd
